<div id="main-content" class="file_manager">
    <div class="container">            
        <div class="row clearfix">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <div class="file">
                        <a href="https://drive.google.com/file/d/1SHnVlc2EroHwzGaGyqiZx_zvGNDVHk7-/view?usp=drive_link">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="icon">
                                <i class="fa fa-file text-info"></i>
                            </div>
                            <div class="file-name">
                                <p class="m-b-5 text-muted">Thanigai_image.doc</p>
                                <small>Size: 42KB <span class="date text-muted">Nov 02, 2017</span></small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>                
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <div class="file">
                        <a href="https://drive.google.com/file/d/1PmduYF0OnKMT80lsuyNB0_3fMddmgi2_/view?usp=drive_link">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="icon">
                                <i class="fa fa-file text-info"></i>
                            </div>
                            <div class="file-name">
                                <p class="m-b-5 text-muted">Pan_card.doc</p>
                                <small>Size: 89KB <span class="date text-muted">Dec 15, 2017</span></small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>                
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <div class="file">
                        <a href="https://drive.google.com/file/d/1zOWXbUarDLEcRZulh75_1X6FXYIqau8o/view?usp=drive_link">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="icon">
                                <i class="fa fa-file text-info"></i>
                            </div>
                            <div class="file-name">
                                <p class="m-b-5 text-muted">HSC.doc</p>
                                <small>Size: 89KB <span class="date text-muted">Dec 15, 2017</span></small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <div class="file">
                        <a href="https://drive.google.com/file/d/1ir3XtXmYKHEW_mzFd4Vse9C7_IkygrNC/view?usp=drive_link">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="icon">
                                <i class="fa fa-bar-chart text-warning"></i>
                            </div>
                            <div class="file-name">
                                <p class="m-b-5 text-muted">degree.doc</p>
                                <small>Size: 68KB <span class="date text-muted">Dec 12, 2016</span></small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <div class="file">
                        <a href="https://drive.google.com/file/d/1TrWB1rJuIsblEQkc2oXIX8DdyxTtLpUq/view?usp=drive_link">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="icon">
                                <i class="fa fa-bar-chart text-warning"></i>
                            </div>
                            <div class="file-name">
                                <p class="m-b-5 text-muted">Bank_book.doc</p>
                                <small>Size: 68KB <span class="date text-muted">Dec 12, 2016</span></small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <div class="file">
                        <a href="https://drive.google.com/file/d/15KsjjyqwGuv5MdQ3LpO4Ree9vxqX-ZBf/view?usp=drive_link">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="icon">
                                <i class="fa fa-file text-success"></i>
                            </div>
                            <div class="file-name">
                                <p class="m-b-5 text-muted">SSLC.doc</p>
                                <small>Size: 3MB <span class="date text-muted">Aug 18, 2017</span></small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <div class="file">
                        <a href="https://drive.google.com/file/d/1x8wZeVd-x7gyxp_go53shB82gv9Z5GF_/view?usp=drive_link">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="icon">
                                <i class="fa fa-file text-success"></i>
                            </div>
                            <div class="file-name">
                                <p class="m-b-5 text-muted">Vaccine.doc</p>
                                <small>Size: 3MB <span class="date text-muted">Aug 18, 2017</span></small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <div class="file">
                        <a href="https://drive.google.com/file/d/15KsjjyqwGuv5MdQ3LpO4Ree9vxqX-ZBf/view?usp=drive_link">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="icon">
                                <i class="fa fa-file text-success"></i>
                            </div>
                            <div class="file-name">
                                <p class="m-b-5 text-muted">Experience.doc</p>
                                <small>Size: 3MB <span class="date text-muted">Aug 18, 2017</span></small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
         
                <!-- <div class="card">
                    <div class="file">
                        <a href="javascript:void(0);">
                            <div class="hover">
                                <button type="button" class="btn btn-icon btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="icon">
                                <i class="fa fa-file text-info"></i>
                            </div>
                            <div class="file-name">
                                <p class="m-b-5 text-muted">Document_2017.doc</p>
                                <small>Size: 89KB <span class="date text-muted">Dec 15, 2017</span></small>
                            </div>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>

</div>